.NavBar {
  background-color: #282c34;
  min-height: 7vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.NavBar-link {
  margin: 0 10px;
}

.NavBar-welcome {
  color: grey;
}
